.header{
    width: 100%;
    display: block;
    overflow: hidden;
    overflow-x: auto;
    background-color: #0073AE;
}
.header ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: inline-flex;
}
.header li{
    display: inline-block;
    padding: 10px;
    color: white
}
.header li.active{
    color: #0073AE;
    background-color: white;
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 50%;
    height: 250px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 60px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
    background-color: #0073AE;
    margin:0 auto;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
.element-block{
    width: 90%;
    margin: 0 auto;
}
.element-block .element-image{
    height: 200px;
}
.element-block .element-image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.element-block .lds-hourglass{
    margin-top: 10%;
    height: 100%;
}